<div class="page-header">
  <a href="/#/home">back</a>
</div>

<h1>All Users</h1>

<!-- filter thru users and wont display current user logged in -->
<div ng-repeat="user in users" ng-if="user.username != currentUser.username">
    <div><br>
        <div>{{user.username}}<br>
          <button class="btn btn-primary" ng-click="addFriend()" ng-hide="isFriends(user)">Add Friend</button>
          <button class="btn btn-danger" ng-click="removeFriend()" ng-show="isFriends(user)">Remove Friend</button>
        </div>
    </div>
</div> 
 


